<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    {{ current_time }}
    <h2>Current Visitor: {{ number_of_visitor }}</h2>
    Mao Mao
    Mao Mao
    <h1>My Fennec</h1>
    <h2>My Fennec</h2>
    <p>Playfull</p>
    <p>Playfull</p>
    <div>division</div>
    <div>division</div>

    <img alt="Fennec Fox" src="http://bit.ly/2mWSZm9">

{#  target="_blank": switch to a new tab instead of load page on current tab  #}
    <a target="_blank" href="http://twitter.com">Follow me on Twitter</a>

</body>
</html>